* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container_logo {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-flow: nowrap;
    
    width: 100%;
    
    justify-content: center;

}
header {
    background-color: #F2C9BB;
}

header  img {
    
    width: 500px;
    height: 500px;

}

body {
    background-color: #F2ADA7;
}
